
 li {
   list-style-type: none; /* Убираем маркеры */
 }

 .nav-second-menu li ul {

   background: none;
   visibility: hidden;
 }

 .nav-second-menu li:hover ul {
   opacity: 1;
   top: 70px;
   visibility: visible;
   background: none !important;
 }

 .nav-second-menu li ul li a {
   background: none repeat scroll;
 }

 .nav-second-menu li ul li a:hover {
   background: none repeat scroll;
 }
